<div class="dashboard-container">
<%= image_tag 'logo.jpeg', alt: 'Logo do California Café Bar', style: 'width: 120px; height: 120px; border-radius: 50%; display: block; margin: 0 auto 20px;' %>

  <h1>DASHBOARD</h1>

  <%= link_to 'ESTOQUE GERAL', stocks_path, class: 'dashboard-button' %>
  <%= link_to 'DASHBOARD', dashboard_index_path, class: 'dashboard-button' %>
  <%= link_to 'LEITOR', barcodes_scan_path, class: 'dashboard-button' %>
  <%= button_to 'SAIR', logout_path, method: :delete, class: 'logout-button' %>
</div>

<style>
  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #8e2de2, #4a00e0, #00c6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  .dashboard-container {
    background-color: #000;
    padding: 40px;
    border-radius: 30px;
    text-align: center;
    color: white;
    width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .logo {
  width: 120px;
  height: 120px;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .dashboard-button {
    display: block;
    width: 100%;
    padding: 12px 0;
    background-color: #750b4b;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  .dashboard-button:hover {
    background-color: #5a0839;
  }

  .logout-button {
    display: inline-block;
    background-color: #0d9488; /* Verde esmeralda */
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    transition: background 0.3s ease;
  }

  .logout-button:hover {
    background-color: #0f766e;
  }

  @media (max-width: 480px) {
    .dashboard-container {
      width: 90%;
      padding: 30px;
    }

    .dashboard-button {
      font-size: 14px;
      padding: 10px;
    }

    .logout-button {
      font-size: 13px;
      padding: 7px 16px;
    }
  }
</style>
